﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<center><h2>เกี่ยวกับระบบ</h2></center>
<br>
<center><img src="~/images/1.jpg" width=1145 height=500></center>
<br>
<h3>ระบบนี้จัดทำขึ้นเพื่อให้นักศึกษาในมหาลัยที่ต้องการช่วยเพื่อนติวหนังสือได้ประกาศข้อมูลของตน เพื่อประกาศไปยังนักศึกษาที่สนใจและต้องการติวในรายวิชานั้น ๆ</h3>

<br>
<h3>หมายเหตุ : ห้ามนักศึกษากระทำการใด ๆ นอกเหนือจากวัตถุประสงค์ข้างต้น มิฉะนั้นจะถูกลงโทษตามระเบียบของมหาวิทยาลัยฯ</h3>


