﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<center><h2>ติดต่อ</h2></center>
<br>
<center><img src="~/images/2.jpg" width=1145 height=500></center>
<br>
<h3>หากมีปัญหาหรือมีข้อสงสัย สามารถติดต่อได้ทาง</h3>

<br>

<h4>Email : Taywin.p@yahoo.com</h4>
<h4>Tel : 091-9599249</h4>

