﻿@page
@model IndexModel
@{
    ViewData["Title"] = "PSUTUTOR";
}

<center><img src="~/images/4.jpg" width=1145 height=500></center>

<div class="row">
    <h3> ติวเตอร์ทั้งหมด </h3>
    <table class="table">
    <thead>
        <tr>
                    <th>ชื่อติวเตอร์</th> 
                    <th>วิชา</th>
                    <th>สถานที่</th>
                    <th>จำนวนชั่วโมง</th>
                    <th>ค่าใช้จ่าย</th>
                </tr>
            </thead> 
         <tbody>

@foreach (var item in Model.NewsTutor){
    <tr> 
        <td>
           @Html.DisplayFor(modelItem => item.TutorName)
         </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Subject) 
        </td>
        <td> 
           @Html.DisplayFor(modelItem => item.Location) 
        </td>
        <td> 
            @Html.DisplayFor(modelItem => item.Hour) 
        </td>
        <td> 
             @Html.DisplayFor(modelItem => item.Cost) 
        </td>
        </tr> 
        }
    
        </tbody> 
    </table> 
</div>


