@page
@model PSUTutor.Pages.NewsTutorAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NewsTutor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsTutor.TutorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.TutorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsTutor.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsTutor.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsTutor.Hour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.Hour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsTutor.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.Cost)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NewsTutor.NewsTutorID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
