@page
@model PSUTutor.Pages.NewsTutorAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h4>รายละเอียดของติวเตอร์</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อติวเตอร์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.TutorName)
        </dd>
        <dt>
            วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.Subject)
        </dd>
        <dt>
           สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.Location)
        </dd>
        <dt>
            จำนวนชั่วโมง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.Hour)
        </dd>
        <dt>
            ค่าใช้จ่าย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTutor.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsTutor.NewsTutorID">แก้ไข</a> |
    <a asp-page="./Index">กลับหน้าหลัก</a>
</div>
