@page
@model PSUTutor.Pages.NewsTutorAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไข";
}

<h2>แก้ไข</h2>

<h4>รายละเอียดของติวเตอร์</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsTutor.NewsTutorID" />
            <div class="form-group">
                ชื่อติวเตอร์
                <input asp-for="NewsTutor.TutorName" class="form-control" />
                <span asp-validation-for="NewsTutor.TutorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                วิชา
                <input asp-for="NewsTutor.Subject" class="form-control" />
                <span asp-validation-for="NewsTutor.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่
                <input asp-for="NewsTutor.Location" class="form-control" />
                <span asp-validation-for="NewsTutor.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนชั่วโมง
                <input asp-for="NewsTutor.Hour" class="form-control" />
                <span asp-validation-for="NewsTutor.Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                ค่าใช้จ่าย
                <input asp-for="NewsTutor.Cost" class="form-control" />
                <span asp-validation-for="NewsTutor.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับหน้าหลัก</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
