@page
@model PSUTutor.Pages.NewsTutorAdmin.IndexModel

@{
    ViewData["Title"] = "จัดการข้อมูลติวเตอร์";
}

<h2>ระบบจัดการข้อมูลติวเตอร์</h2>

<p>
    <a asp-page="Create">เพิ่มข้อมูลใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อติวเตอร์
            </th>
            <th>
                วิชา
            </th>
            <th>
                สถานที่
            </th>
            <th>
                จำนวนชั่วโมง
            </th>
            <th>
                ค่าใช้จ่าย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewsTutor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TutorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsTutorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsTutorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsTutorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
